/* ============================================
   DashboardPage.css - СТИЛИ ДЛЯ ГЛАВНОЙ СТРАНИЦЫ
   ============================================ */

.dashboard-page {
  width: 100%;
  /* max-width: 1440px; */
  margin: 0 auto;
  padding: 100px 20px 80px 20px;
}

.dashboard-row {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Мобильные (до 767px) - вертикальное расположение */
@media screen and (min-width: 374px) {
  .dashboard-page {
    padding: 100px 20px 80px 20px;
    max-width: 375px;
  }

  .dashboard-row {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

/* Планшеты (768px - 1439px) - компоненты в ряд */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .dashboard-page {
    padding: 100px 32px 40px 32px;
    max-width: 768px;
  }

  .dashboard-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /* margin-top: 20px; */
  }

  .dashboard-row > * {
    flex: 1;
  }
}

/* Десктоп (1440px и больше) */
@media screen and (min-width: 1440px) {
  .dashboard-page {
    padding: 100px 40px 40px 40px;
    max-width: 1440px;
  }

  .dashboard-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 24px;
  }

  .dashboard-row > * {
    flex: 1;
  }
}
