/* ============================================
   MobileModal.css - СТИЛИ ДЛЯ МОБИЛЬНОГО МЕНЮ
   ============================================ */

.mobile-backdrop {
  position: fixed;
  background: var(--bg-backdrop);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
}

.mobile-container {
  background-color: var(--bg-main);
  max-width: 78px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-close-btn {
  position: absolute;
  top: 20px;
  right: 14px;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mobile-close-btn svg {
  stroke: var(--main-black);
}

@media screen and (min-width: 768px) {
  .mobile-container {
    max-width: 84px;
  }
}
