/* ============================================
   PageContainer.css - СТИЛИ ДЛЯ КОНТЕЙНЕРА
   ============================================ */

/* 1. Основной контейнер */
.page-container {
  padding: 0; /* отступы слева и справа */
  max-width: 375px; /* максимальная ширина для мобильных */
  width: 100%; /* занимает всю доступную ширину */
  /* margin: 80px auto 0 auto; */
  overflow-x: auto; /* горизонтальная прокрутка если контент не влезает */
}

/* 2. Планшеты (от 768px) */
@media screen and (min-width: 768px) {
  .page-container {
    max-width: 768px; /* больше ширина */
    padding: 0px; /* больше отступы */
  }
}

/* 3. Десктопы (от 1440px) */
@media screen and (min-width: 1440px) {
  .page-container {
    max-width: 1360px; /* максимальная ширина для десктопа */
    padding: 0px; /* большие отступы по бокам */
  }
}
