/* ============================================
   NavMenu.css - СТИЛИ ДЛЯ МЕНЮ
   ============================================ */

/* Список меню */
.nav-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-top: 92px;
}

/* Пункт меню */
.nav-menu-item {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Ссылка меню */
.nav-menu-link {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  border-radius: 50%;
  transition: all var(--hover-effect);
}

/* Иконка в меню */
.nav-menu-link svg {
  fill: var(--icons-color);
}

/* Активная ссылка (текущая страница) */
.nav-menu-link.active {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.nav-menu-link.active svg {
  fill: var(--accent-color);
}

/* Ховер (наведение) */
.nav-menu-link:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* Планшеты */
@media screen and (min-width: 768px) {
  .nav-menu-link {
    width: 44px;
    height: 44px;
  }

  .nav-menu-link svg {
    width: 20px;
    height: 20px;
  }
}
