.recent-customers {
  width: 100%;
  display: flex;
  justify-content: center;
}

.table-caption {
  border-radius: 8px 8px 0 0;
  text-align: left;
  padding: 14px;
  background-color: #e7f1ed;
  font-size: 16px;
  font-weight: 600;
  color: var(--main-black);
}

.customers-table {
  width: 100%;

  background-color: var(--white-color);
  margin: 0 auto;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  border: 1px solid var(--border-color);
}

.table-header-rec {
  width: 100%;
  text-align: left;
  padding: 14px;
  background-color: var(--white-colo);
  font-size: 12px;
  font-weight: 500;
  color: var(--placeholder-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.table-cell-rec {
  padding: 14px 4px;
  border-bottom: 1px solid var(--border-color);
  font-size: 12px;
  color: var(--main-black);
}

.table-row:last-child .table-cell-rec {
  border-bottom: none;
}

.table-header-rec:last-child {
  border-right: none;
}

.name-cell-rec {
  min-width: 82px;
  border-right: 1px solid var(--border-color);
}

.customer-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.customer-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.customer-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: #1d1e21;
}

.email-cell-rec {
  max-width: 127px;
  color: #1d1e21;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-right: 1px solid var(--border-color);
}

.spent-cell {
  min-width: 55px;
  max-width: 55px;
  font-weight: 600;
  color: var(--accent-color);
}

@media screen and (min-width: 374px) {
  .customers-table {
    min-width: 335px;
  }

  .table-header {
    padding: 20px;
    font-size: 16px;
  }

  .table-cell-rec {
    padding: 14px 8px;
  }

  .name-cell-rec {
    min-width: 73px;
  }

  .email-cell-rec {
    min-width: 158px;
  }

  .spent-cell {
    min-width: 66px;
  }
}

@media screen and (min-width: 768px) {
  .customers-table {
    min-width: 704px;
  }

  .table-caption {
    padding: 20px;
    font-size: 18px;
  }

  .table-header-rec {
    padding: 20px;
    font-size: 14px;
  }

  .table-cell-rec {
    padding: 20px;
    font-size: 16px;
  }

  .name-cell-rec {
    min-width: 231px;
  }

  .email-cell-rec {
    min-width: 310px;
  }

  .spent-cell {
    min-width: 112px;
  }

  .customer-avatar {
    width: 36px;
    height: 36px;
  }

  .customer-name {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .customers-table {
    min-width: 630px;
  }
}
