/* Контейнер для заголовков */
.header-title {
  display: flex; /* Элементы в ряд */
  flex-direction: column; /* Но в колонку (вертикально) */
  align-items: flex-start; /* Выравнивание по левому краю */
  row-gap: 4px; /* Расстояние между заголовками 4px */
}

/* Основной заголовок */
.header-main-title {
  font-size: 20px; /* Размер шрифта 20px */
  font-weight: 600; /* Полужирный */
  line-height: 1.2; /* Межстрочный интервал */
  color: #1d1e21; /* Цвет черный */
  margin: 0; /* Убираем отступы */
}

/* Подзаголовок */
.header-sub-title {
  color: rgba(29, 30, 33, 0.4); /* Цвет полупрозрачный черный */
  font-size: 12px; /* Размер шрифта 12px */
  font-weight: 400; /* Обычный */
  line-height: 1.5; /* Межстрочный интервал */
  margin: 0; /* Убираем отступы */
}

/* Медиа-запрос для планшетов */
@media screen and (min-width: 768px) {
  .header-main-title {
    font-size: 24px; /* Увеличиваем размер */
    line-height: 1.17; /* Межстрочный интервал */
  }
}
