/* ============================================
   CustomerItem.css - СТИЛИ ДЛЯ СТРОКИ ТАБЛИЦЫ КЛИЕНТОВ
   ============================================ */

.customer-row {
  border-bottom: 1px solid var(--border-color);
}

/* .customer-row:last-child {
  border-bottom: none;
} */

.customer-cell {
  padding: 14px 8px;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 500;
  color: var(--main-black);
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.customer-cell:last-child {
  border-right: none;
}

/* Ячейка с пользователем */
.user-cell {
  min-width: 128px;
  max-width: 128px;
}

.user-info {
  display: flex;
  /* align-items: left; */
  flex-direction: column;
  gap: 8px;
}

.user-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-weight: 500;
}

/* Ячейка с email */
.email-cell {
  min-width: 230px;
  max-width: 230px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Ячейка с адресом */
.address-cell {
  min-width: 280px;
}

/* Ячейка с телефоном */
.phone-cell {
  min-width: 130px;
}

/* Ячейка с датой */
.date-cell {
  min-width: 130px;
}

/* Планшеты */
@media screen and (min-width: 768px) {
  .customer-cell {
    padding: 20px;
    font-size: 14px;
  }

  /* Ячейка с пользователем */
  .user-cell {
    min-width: 215px;
    max-width: 215px;
  }

  .user-info {
    flex-direction: row;
  }

  .user-avatar {
    width: 36px;
    height: 36px;
  }

  /* Ячейка с email */
  .email-cell {
    min-width: 280px;
    max-width: 280px;
  }

  /* Ячейка с адресом */
  .address-cell {
    min-width: 280px;
  }

  /* Ячейка с телефоном */
  .phone-cell {
    min-width: 130px;
  }

  /* Ячейка с датой */
  .date-cell {
    min-width: 130px;
  }
}
