.customers-table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

.customer-table {
  width: 100%;
  margin: 0 auto;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.table-caption {
  text-align: left;
  padding: 14px;
  background-color: var(--bg-color);
  font-size: 16px;
  font-weight: 600;
  color: var(--main-black);
}

.table-head {
  text-align: left;
  padding: 14px;
  background-color: var(--white-color);
  font-size: 12px;
  font-weight: 500;
  color: var(--placeholder-color);
  border-right: 1px solid var(--border-color);
}

.table-head:last-child {
  border-right: none;
}

.no-data {
  text-align: center;
  padding: 40px;
  color: var(--placeholder-color);
  font-size: 16px;
}

.pagination {
  width: 112px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 20px auto;
  padding: 0 0 0 111px;
}

.page-btnn {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: #e7f1ed;
  cursor: pointer;
  transition: background-color var(--hover-effect);
}

.page-btnn.active {
  background-color: var(--accent-color);
}

@media screen and (min-width: 374px) {
  .customer-table {
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .customer-table {
    max-width: 960px;
  }

  .table-caption {
    font-size: 18px;
    padding: 20px;
  }

  .table-head {
    padding: 20px;
    font-size: 14px;
  }

  .no-data {
    text-align: center;
    padding: 40px;
    color: var(--placeholder-color);
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .customer-table {
    max-width: 1360px;
  }
}
