.login-container {
  padding: 24px 20px;
  background-color: #f7f8fa;
  min-height: 100vh;
  background-image: url('../../assets/images/login/shapes-desktop.webp');
  background-repeat: no-repeat;
  background-position: 135px 120%;
  background-size: 464px 345px;
}

.login-content {
  margin-top: -12%;
}

@media screen and (min-width: 768px) {
  .login-container {
    padding: 24px 32px;
    background-position: 470px 110%;
  }
}

@media screen and (min-width: 1440px) {
  .login-container {
    padding: 24px 100px;
    background-position: 1140px 120%;
  }

  .login-content {
    display: flex;
    align-items: center;
    gap: 150px;
  }
}
