/* Основной контейнер для страницы логина */
.container {
  max-width: 375px; /* Максимальная ширина для мобильных */
  margin: 0 auto; /* Центрирование по горизонтали */
  min-height: 100vh; /* Минимальная высота на весь экран */
}

/* Планшеты (от 768px) */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px; /* Увеличиваем максимальную ширину */
  }
}

/* Десктопы (от 1440px) */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px; /* Максимальная ширина для десктопа */ /* Еще больше отступы */
  }
}
