/* ============================================
   CustomersPage.css - СТИЛИ ДЛЯ СТРАНИЦЫ КЛИЕНТОВ
   ============================================ */

/* .page-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--main-black);
  margin-bottom: 24px;
} */
